@model ProyectoNukeMapuPewmaMVC.Models.Artesania;
@{
    ViewData["Title"] = "Crear Artesanía";
}


<div class="text-central">
    <h2 class="display-4">Formulario de inscripción de nuevas Artesanías</h2>
    
    <form asp-action="ArteCrear" method="post"> 
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" placeholder="Nombre del diseño único"/>
    </div>
    <div class="form-group">
        <label>Descripción</label>
        <input asp-for="Descripcion" class="form-control" placeholder="Descripción e historia del artículo o su elaboración"/>
    </div>
    <div class="form-row d-flex">
    <div class="form-group col-md-6 me-2">
        <label>Precio</label>
        <div class="input-group">
            <span class="input-group-text">CLP $</span>
            <input asp-for="Precio" type="number" class="form-control" placeholder="Precio en CLP" />
        </div>
    </div>
    <div class="form-group col-md-6">
        <label>Cantidad</label>
        <input asp-for="Cantidad" type="number" class="form-control" placeholder="Número total de artículos" />
    </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

</div>
